.topBtn{
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    display: none; /* 初始化不顯示 */
    position: fixed; /* 按鈕絕對位置 */
    bottom: 50px;
    right: 50px;
    z-index: 99; /* 元素放置在最上層 */
    font-size: 18px;
    border: none;
    outline: none; /* 移除預設外邊框 */
    cursor: pointer;
    padding: 15px;
    background-color: #98c39a;
    border: 3px solid #98c39a;
    border-radius: 10px;
}

.topBtn:hover{
    background: #fff;
    border: 3px solid #98c39a;
    color: #98c39a;
}

form{
    margin-top: 20px !important;
}

label, input{
    font-size: 22px;
    margin: 5% 0 !important;
}

input, select{
    border: 3px solid #98c39a;
    border-radius: 10px;
    padding: 10px;
}

table{
    margin-top: 10px !important;
    font-family: sans-serif;
    min-width: 400px;
    text-align: center;
}

table thead tr{
    height: 60px;
    font-size: 24px;
    vertical-align: middle; /*表格內水平置中*/
    background-color: #98c39a;
}

table tbody tr{
    height: 60px;
    font-size: 20px;
    vertical-align: middle; /*表格內水平置中*/
}

/* 格行添加背景 */
table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

/* 新增最底深色邊框 */
table tbody tr:last-of-type{
    border-bottom: 2px solid #98c39a;
}
