.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-history-button1, .search-history-button2 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    white-space: nowrap;
    width: auto; /* 或者設置一個固定寬度 */
}

.search-history-button1 {
    color: #ffffff; /* 設置文字顏色 */
    border: 2px solid #69919c;
    background-color: #8cb4bf;
}

.search-history-button1:hover {
    border: 2px solid #8cb4bf;
    background-color: #69919c;
    color: #ffffff;
}

.search-history-button2 {
    color: #ffffff; /* 設置文字顏色 */
    border: 2px solid  #a89068; /* 設置按鈕邊框 */
    background-color:#cbb48e ;
}

.search-history-button2:hover {
    background-color: #a89068; /* 滑鼠懸停時改變背景顏色 */
    border: 2px solid  #cbb48e; /* 設置按鈕邊框 */
    color: #ffffff;
}

.total_carbon{
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.total_carbon_text{
    font-size: 20px;
    color: black;

}

.total_carbon_text2{
    font-size: 40px;
    color: red;
}

