
.add_form{
    border: 5px solid #81b595;
    border-radius: 10px; /* 增加圓角 */

    box-shadow: 2px 2px 5px grey;
}

.add_btn{
    background-color: #81b595 !important;
    color: #fff !important;
    height: 60px;
}

.add_select{
    border: 3px solid #98c39a !important;
    border-radius: 10px;
}

.goback_add{
    position: relative;
    top: 15px;
}

.goback_img{
    width: 50px;
}