.map{
    height: 500px;
}

.info_box{
    border: 10px solid #81b595;
    padding: 10px;
    border-radius: 10px;
    background-color: #81b595;
    box-shadow: 2px 2px 5px grey;
}

table{
    margin-top: 10px !important;
    font-family: sans-serif;
    min-width: 400px;
    text-align: center;
}

.car_tr{
    height: 80px;
    font-size: 35px;
    vertical-align: middle; /*表格內水平置中*/
}

.thead_bg{
    background-color: #85ad87;
}

table tbody tr{
    height: 60px;
    font-size: 20px;
    vertical-align: middle; /*表格內水平置中*/
}

.goback_img{
    width: 50px !important;
}