body {
    overflow-x: hidden; /* 避免水平滾動條 */
}

.ms-6 {  /* 左邊距 */
    margin-left: 6rem;
}
.me-6 {  /* 右邊距 */
    margin-right: 6rem;
}
.mt-6 {  /* 上邊距 */
    margin-top: 6rem;
}
.mb-6 {  /* 下邊距 */
    margin-bottom: 6rem;
}
.ms-8 {  /* 左邊距 */
    margin-left: 8rem;
}
.me-8 {  /* 右邊距 */
    margin-right: 8rem;
}
.mt-8 {  /* 上邊距 */
    margin-top: 8rem;
}
.mb-8 {  /* 下邊距 */
    margin-bottom: 8rem;
}
.ms-10 {  /* 左邊距 */
    margin-left: 10rem;
}
.me-10 {  /* 右邊距 */
    margin-right: 10rem;
}
.mt-10 {  /* 上邊距 */
    margin-top: 10rem;
}
.mb-10 {  /* 下邊距 */
    margin-bottom: 10rem;
}

.green-font{
    color: #6b8f78;
}

#置中{
    display: flex;
    justify-content: center; 
    align-items: center;
}
/*
align="center" 水平置中
valign="center" 垂直置中
*/
#文字置中{ 
    text-align: center;
}
#文字靠左{ 
    text-align: left;
}
#水平均分{
    display: flex;
    justify-content: space-around;
}
#水平靠左{
    display: flex;
    justify-content: flex-start;
}




/* 網頁上方背景 */
.top-background{
    background-color: rgb(255, 255, 255, 0.5) !important; /* 白色，80% 不透明度 */
    backdrop-filter: blur(10px); /* 可選：添加背景模糊效果 */
}

/* 車子背景 */
.custom-bg {
    background-image: url('api/img/background_car.png'); /* 設置背景圖片 */
    background-size: cover; /* 使圖片覆蓋整個區塊 */
    background-position: center; /* 使圖片居中顯示 */
    background-repeat: no-repeat; /* 避免背景重複 */
    /*height: 100vh;  區塊高度設為 100% 視窗高度 */
    height: 800px;  /*設置區塊高度為 100% 視窗高度 */
    display: flex;
    align-items: center; /* 垂直置中內容 */
    justify-content: center; /* 水平置中內容 */
}
.custom-bg-position{
    position: relative;
    top: 100px;

    width: 100%;
}


/* 碳探你的路 */
.title{
    font-size: 65px;
    position: relative;
    top: -20px;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 2px 的水平和垂直陰影，5px 的模糊半徑 */
}

/* 環保小知識 */
.knowledge-box {
    flex: 1; /* 使元素可彈性伸縮，佔滿剩餘空間 */
    background-color: #bddbbd; /* 設定背景顏色為淡綠色 */
    padding: 10px; /* 設定內邊距為 10 像素 */
    border-radius: 10px; /* 設定圓角為 10 像素 */
}

.knowledge-box h3 {
    font-size: 20px; /* 設定標題文字的大小為 20 像素 */
    margin-bottom: 10px; /* 設定底部邊距為 10 像素 */
}

.knowledge-box p {
    font-size: 16px; /* 設定段落文字的大小為 16 像素 */
}

.custom-width {
    width: 100%;
    margin: 0 auto;
}

/* 灰色背景 */
.gray-bg{
    background-color: rgba(201, 201, 201, 0.5);
    z-index: -1;

    position: relative;
    top: -150px;
}
.gray-bg-word{
    margin-top: 300px;
}

.gowork-table{
    border-collapse: separate; /* 使邊框不重疊，讓圓角生效 */
    border-spacing: 0; /* 取消單元格之間的間距 */
    border-radius: 10px; /* 設置圓角大小 */
    overflow: hidden; /* 確保圓角效果 */
}

/* 格子背景 */
.plaid-bg {
    position: relative;
    z-index: 1; /* 確保內容在前景 */

    position: relative;
    top: -150px;
}

.plaid-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-image: url('api/img/background_plaid.jpg');
    /*background-size: cover;  確保背景圖完整覆蓋 */
    opacity: 0.1; /* 設置背景透明度 */
    z-index: -1; /* 確保背景圖片在內容後面 */
}

.pink-bg{
    background-color: #f2d3bf;
    border-radius: 10px; /* 設置圓角大小 */
}














.back-to-top {
    display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */
    position: fixed; /* 位置是固定的 */
    bottom: 20px; /* 顯示在頁面底部 */
    right: 30px; /* 顯示在頁面的右邊 */
    z-index: 99; /* 確保不被其他功能覆蓋 */
    border: 1px solid #93CDA9; /* 顯示邊框 */
    outline: none; /* 不顯示外框 */
    background-color: #e2f7ea; /* 設置背景背景顏色 */
    color: #93CDA9; /* 設置文本顏色 */
    cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
    padding: 10px 15px 15px 15px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */
}
.back-to-top:hover {
    background-color: #93CDA9; /* 滑鼠移上去時，反轉顏色 */
    color: #e2f7ea;
}















/* 新增或修改地址 */
.container{
    position: relative;
}























/* 新增交通車出勤紀錄 */
.choose_div{
    width: 35%;
}
.choose_dat_time_div{
    width: 65%;
}
.choose_car{
    border: 2px solid #93CDA9; /* 顯示邊框 */
    outline: none; /* 不顯示外框 */
    background-color: #ffffff; /* 設置背景背景顏色 */
    color: #3b7752; /* 設置文本顏色 */
    cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
    padding-left: 10px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */
    box-shadow: 2px 2px 5px grey;
    

    font-size: 15px;
    width: 80%;
    height: 40px;
    margin-top: 20px;
}
.choose_date{
    border: 2px solid #93CDA9; /* 顯示邊框 */
    outline: none; /* 不顯示外框 */
    background-color: #ffffff; /* 設置背景背景顏色 */
    color: #3b7752; /* 設置文本顏色 */
    cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
    padding-left: 10px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */
    box-shadow: 2px 2px 5px grey;

    font-size: 15px;
    width: 40%;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}
.work_city{
    border: 2px solid #93CDA9; /* 顯示邊框 */
    outline: none; /* 不顯示外框 */
    background-color: #e2f7ea; /* 設置背景背景顏色 */
    color: #3b7752; /* 設置文本顏色 */
    cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
    padding-left: 10px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */

    font-size: 15px;
    width: 35%;
    height: 40px;
}
.work_address_detail{
    font-size: 15px;
    width: 75%;
    height: 35px;
    border: 2px solid #93CDA9; /* 顯示邊框 */
    background-color: #e2f7ea;
}
.work_city_div{
    margin-top: 20px;

    background-color: #81b595;
    padding: 15px 15px 15px 15px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */
    box-shadow: 2px 2px 5px grey;
}
.work_word{
    font-size: large;
    font-weight: bold;
    color: #2c3630;

    text-decoration: none;
}
.work_address_delete{
    position: relative;
    left: 80%;
    /* right: -80%; */
    color: #bc3b3b;
    font-weight: bold;

    display: inline-block; /* 让按钮以块级元素显示 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除文本装饰，如果有的话 */
    border: 2px solid #3b7752; /* 设置按钮边框，可以根据需要调整颜色和宽度 */
    border-radius: 3px; /* 设置按钮圆角，可以根据需要调整 */
    background-color: #e2f7ea; /* 设置按钮背景颜色，可以根据需要调整 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
}
.work_address_delete:hover {
    background-color: #bc3b3b; /* 悬停时改变背景颜色 */
    color: #ffffff; /* 悬停时改变文本颜色 */
}
.add_work_addAddress{
    width: 60px;
    height: 60px;

    /* font-size: 50px;
    font-weight: bold; */
    color: #ffffff;

    display: inline-block; /* 让按钮以块级元素显示 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除文本装饰，如果有的话 */
    border: 2px solid #81b595; /* 设置按钮边框，可以根据需要调整颜色和宽度 */
    border-radius: 50px; /* 设置按钮圆角，可以根据需要调整 */
    background-color: #81b595; /* 设置按钮背景颜色，可以根据需要调整 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    box-shadow: 2px 2px 5px grey;
}
.add_work_addAddress:hover {
    background-color: #3b7752; /* 悬停时改变背景颜色 */
    color: #ffffff; /* 悬停时改变文本颜色 */
}
.add_work_plan_submit{
    width: 40%;
    height: 50px;

    margin-left: 10px;

    font-size: large;
    font-weight: bold;
    color: #3b7752;

    display: inline-block; /* 让按钮以块级元素显示 */
    padding: 10px 20px; /* 设置按钮的内边距 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除文本装饰，如果有的话 */
    border: 2px solid #81b595; /* 设置按钮边框，可以根据需要调整颜色和宽度 */
    border-radius: 5px; /* 设置按钮圆角，可以根据需要调整 */
    background-color: #ffffff; /* 设置按钮背景颜色，可以根据需要调整 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    box-shadow: 2px 2px 5px grey;
}
.add_work_plan_submit:hover {
    background-color: #81b595; /* 悬停时改变背景颜色 */
    color: #ffffff; /* 悬停时改变文本颜色 */
}
.add_work_apply_submit{
    width: 40%;
    height: 50px;

    margin-left: 10px;

    font-size: large;
    font-weight: bold;
    color: #3b7752;

    display: inline-block; /* 让按钮以块级元素显示 */
    padding: 10px 20px; /* 设置按钮的内边距 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除文本装饰，如果有的话 */
    border: 2px solid #81b595; /* 设置按钮边框，可以根据需要调整颜色和宽度 */
    border-radius: 5px; /* 设置按钮圆角，可以根据需要调整 */
    background-color: #ffffff; /* 设置按钮背景颜色，可以根据需要调整 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    box-shadow: 2px 2px 5px grey;
}
.add_work_apply_submit:hover {
    background-color: #81b595; /* 悬停时改变背景颜色 */
    color: #ffffff; /* 悬停时改变文本颜色 */
}
/* 禁用按钮的样式 */
.add_work_apply_submit:disabled {
    background-color: #ccc;
    color: #8b8b8b;
    cursor: not-allowed;
    border: 1px solid #8b8b8b;
}
.map {
    width: 100%;
    height: 350px; /* 調整小螢幕下的地圖高度 */
    border: 5px solid #81b595;
    padding: 5px;
    border-radius: 10px;
    background-color: #81b595;
    box-shadow: 2px 2px 5px grey;
}

/* 在較大的螢幕上增加地圖高度 */
@media (min-width: 768px) {
    .map {
        height: 550px;
    }
}

/* 修改選擇器的外觀 */
.flatpickr-calendar {
    background-color: #b4e7c7; /* 背景色 */
    color: #2c3630; /* 文字顏色 */
}
.flatpickr-day {
    background-color: #b4e7c7; /* 日曆日期的背景色 */
}
.flatpickr-monthDropdown-months,
.flatpickr-yearDropdown-years {
    background-color: #b4e7c7; /* 年份和月份下拉列表的背景色 */
}
.flatpickr-time {
    background-color: #b4e7c7; /* 時間選擇框的背景色 */
}
.flatpickr-am-pm,
.flatpickr-hour,
.flatpickr-minute,
.flatpickr-second {
    color: #3b7752; /* 時間選擇框的文字顏色 */
}