body {
    overflow-x: hidden; /* 避免水平滾動條 */
}

.ms-6 {  /* 左邊距 */
    margin-left: 6rem;
}
.me-6 {  /* 右邊距 */
    margin-right: 6rem;
}
.mt-6 {  /* 上邊距 */
    margin-top: 6rem;
}
.mb-6 {  /* 下邊距 */
    margin-bottom: 6rem;
}
.ms-8 {  /* 左邊距 */
    margin-left: 8rem;
}
.me-8 {  /* 右邊距 */
    margin-right: 8rem;
}
.mt-8 {  /* 上邊距 */
    margin-top: 8rem;
}
.mb-8 {  /* 下邊距 */
    margin-bottom: 8rem;
}
.ms-10 {  /* 左邊距 */
    margin-left: 10rem;
}
.me-10 {  /* 右邊距 */
    margin-right: 10rem;
}
.mt-10 {  /* 上邊距 */
    margin-top: 10rem;
}
.mb-10 {  /* 下邊距 */
    margin-bottom: 10rem;
}

.green-font{
    color: #6b8f78;
}


.middle{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.text-middle{ 
    text-align: center;
}
.text-left{ 
    text-align: left;
}
.justify-around{
    display: flex;
    justify-content: space-around;
}
.justify-left{
    display: flex;
    justify-content: flex-start;
}












/* 回到頂部按鈕 */
.back-to-top {
    display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */
    position: fixed; /* 位置是固定的 */
    bottom: 20px; /* 顯示在頁面底部 */
    right: 30px; /* 顯示在頁面的右邊 */
    z-index: 99; /* 確保不被其他功能覆蓋 */
    border: 1px solid #93CDA9; /* 顯示邊框 */
    outline: none; /* 不顯示外框 */
    background-color: #e2f7ea; /* 設置背景背景顏色 */
    color: #93CDA9; /* 設置文本顏色 */
    cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
    padding: 10px 15px 15px 15px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */
}
.back-to-top:hover {
    background-color: #93CDA9; /* 滑鼠移上去時，反轉顏色 */
    color: #e2f7ea;
}
